@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-padrao: "Poppins", sans-serif;
}

html {
    background: radial-gradient(farthest-corner at right top,#21A09D, #06182D);
    min-height: 100vh;
    font-family: var(--fonte-padrao);
}

body {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
}

.conteudo {
    padding: 10vh 40vh 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

.principal {
    min-width: 50%;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    display: flex;
    background: #C5965F;
    border-radius: 10px;
    gap: 2em;
}

.agenda {
    min-width: 170px;
    max-width: 170px;
    height: 220px;
    background: #fdfdfd;
    border-radius: 5px 15px 15px 5px;
    border-left: 10px solid #b0814b;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1) inset, 5px 5px 15px rgba(0,0,0,0.3);
    position: relative;
    background-image: 
        linear-gradient(90deg, transparent 35px, #ffadaa 35px, #ffadaa 36px, transparent 36px),
        linear-gradient(#e1e1e1 1px, transparent 1px);
    background-size: 100% 1.5em;
    display: inline-block;
    overflow: hidden;
}

.agenda:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.05) 0%, transparent 15%);
    pointer-events: none;
}

.agenda:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 90%;
    left: -15px;
    top: 5%;
    background: repeating-linear-gradient(
        to bottom,
        #777 0px,
        #ddd 2px,
        #777 4px,
        transparent 4px,
        transparent 20px
    );
    z-index: 10;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.2));
}

.adicionar {
    width: 100%;
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #40112D;
}

.adicionar input::placeholder {
    font-family: var(--fonte-padrao);
    font-size: 14px;
}

.adicionar label {
    display: block;
    font-family: var(--fonte-padrao);
}

.cadastrar {
    background-color: #40112D;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--fonte-padrao);
}

.cadastrar:hover {
    background-color: #4b0930; 
    color: #fff;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.3);
    transition: all 0.5s ease;
}

.lista {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    padding: 1em 1.5em; 
    background: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 1.2em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2em;
    font-size: 18px;
    width: 100%;
    color: #333;
    transition: all 0.5s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-transform: capitalize;
}

.item:hover {
    transform: translateX(2px); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.item__horario {
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C5965F;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.9em;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
}

.horario {
    font-size: 20px;
}

.botao-deletar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #666;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.botao-deletar:hover {
    background-color: #ff4d4d; 
    color: #fff;
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(255, 77, 77, 0.3);
}

@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
        padding: 5vh 1em;
    }

    .principal {
        min-width: 0;
        width: 100%;
        max-width: 500px; 
        flex-direction: column;
        align-items: center;
    }
    
    .mochila {
        margin-bottom: 2em;
    }

    .lista {
        box-sizing: border-box;
    }

    .item {
        padding: 1em 3em;
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .conteudo {
        padding: 2vh 1vh 0;
    }

    .lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
